@import "config";

@import "~dmocho-line-icons/scss/simple-line-icons";

.tipsBox{
  background:rgba(68,112,183,.8);
  box-shadow: 0 2px 6px 0 rgba(105,108,111,0.65);
  border-radius: 3px;
  color: #ffffff;
  position: fixed;
  width: 242px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin:-30px 0 0  -121px;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 60px;
  z-index: 99999;
}
.tipsClose{
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
#tipsOrange{
  color: #fff ;
}